name: Build/Deploy/Release

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install Dependencies
        run: pnpm action:installDep

      - name: Build Library
        run: pnpm build:library

      - name: Build Extras
        run: |
          pnpm build:docs &
          pnpm build:editor &
          wait

      - name: Copy Readme
        run: |
          cp -r README.md library/

      - name: Combine Artifacts
        run: |
          mkdir -p combined
          cp -r library/docs/.vitepress/dist/* combined/
          mkdir -p combined/editor
          cp -r editor/dist/* combined/editor/

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: combined

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm release:library

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
